[submodule "module2-agents/assignment1-sovereignagent"]
	path = module2-agents/assignment1-sovereignagent
	url = https://github.com/aymanapatel/sovereign-agent-lab-ayman.git
[submodule "module2-agents/assignment2-pub-booking"]
	path = module2-agents/assignment2-pub-booking
	url = https://github.com/aymanapatel/homework-pub-booking.git
